{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}


<main>
    <div class="container-fluid p-5 mb-3 text-center align-items-center bg-body-primary">
        <h1 class="fw-bold">Our Classes</h1>
    </div>
    <div class="container-xl mb-3">

        <div class="row  d-flex justify-content-center align-items-center">

            <div class="col">
                <form>
                    <div class="search">
                        <input type="text" name="q" id="search" class="form-control" placeholder="Search">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container-xl mb-5">
        <div class="row">
            <div class="col-12 col-sm-3">
                <h3>
                    <i class="bi bi-funnel-fill"></i>
                    Filters
                </h3>
                <ul class="nav nav-pills flex-column">
                    
                            <li class="nav-item">
                            <a class="nav-link filter" aria-current="page"  href="{{url_for('classes.view_all_events')}}">All</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link filter"  href="{{url_for('classes.view_events', genre='Thai')}}">Thai</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link filter"   href="{{url_for('classes.view_events', genre='French')}}">French</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link filter" href="{{url_for('classes.view_events', genre='Italian')}}">Italian</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link filter"  href="{{url_for('classes.view_events', genre='Chinese')}}">Chinese</a>
                            </li>
                           

                        </ul>
                    </div>

                <div class="col">
                    <div class="container-fluid gx-0">
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 ">
                            {% if events|length == 0 %} 
                            <div class="pt-5"><h5>Unfortunately, no classes matched your search criteria.Please try again.</h6></div>
                            {% else %}

                            {% for event in events %}  
                                
                              <div class="col">
                                  <a class="card-link" href="{{url_for('classes.show', id = event.id)}}">
                                      <div class="card text-center h-100">
                                        <img src="{{event.image}}" class="card-img-top" alt="{{event.title}}">
                                          <div class="card-body">
                                              <h5 class="card-title">{{event.title}} <br>
                                              {% if event.status == "Open" %}  
                                              <span class="badge bg-success">Open</span>
                                              {% elif event.status == "Cancelled" %}
                                              <span class="badge bg-warning">Cancelled</span>
                                              {% elif event.status == "Sold Out" %}
                                              <span class="badge bg-danger">Sold Out</span>
                                              {% elif event.status == "Inactive" %}
                                              <span class="badge bg-light" style="color:hsla(0, 0%, 0%, 0.5);">Inactive</span>
                                              {% endif %}
                                              </h5><p>
                                              <i class="bi bi-calendar3"></i>
                                              {{event.date.strftime("%b %d %Y")}} @ {{event.time.strftime("%I:%M %p")}}
                                              <br>
                                              <i class="bi bi-globe-asia-australia"></i>
                                              {{event.cuisine}}, {{event.level}}
                                              <br>
                                              <i class="bi bi-geo-alt-fill"></i>
                                              {{event.venue}}
                                              <br>
                                              <i class="bi bi-cash"></i>
                                              ${{event.price}}
                                              </p>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              {% endfor %}
                              {% endif %}
                                
                        </div>
                    </div>
                </div>
            </div>
            

        </div>



</main>


{% endblock %}